{% extends 'layouts/default' %}

{% set title = 'Learn' %}
{% set id = 'learn' %}
{% set data_page = 'learn' %}

{% block body %}
	<div class="banner bg">
		<figure class="banner_bg bg_img">
			<img src="{{ assets }}/img/uploads/banner-02.jpg" alt="Image description" />
		</figure>

		<div class="banner_wrapper wrapper">
			<div class="banner_copy">
				<span class="banner_tag tertiary">Get Fender Certified</span>
				<h3 class="banner_title">Learn</h3>
			</div><!-- /.banner_copy -->
		</div><!-- /.banner_wrapper -->
	</div><!-- /.banner -->

	<div class="page">
		<div id="learn" class="lms">
			<div class="lms_wrapper wrapper">
				<aside class="callout bg">
					<figure class="callout_bg bg_img">
						<img src="{{ assets }}/img/uploads/callout-01.jpg" alt="Image description" />
					</figure>

					<div class="bg_copy">
						<span class="callout_tag tertiary">Quiz 01 | Nov 23, 2015</span>
						<h6 class="callout_txt">Stay up-to-date on the latest, take the extra credit quiz!</h6>
						<a class="btn btn-alt" href="latest.html">Visit Latest</a>
						<a class="btn js-modal-btn" href="quiz.html">Take the Quiz</a>
					</div>
				</aside><!-- /.callout -->

				<ol class="grid grid-cards">
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-01.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">01</span>
								<span class="card_note pill">Updated</span>

								<h5 class="card_title mod_title">Fender Brand</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-02.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">02</span>
								
								<h5 class="card_title mod_title">Electric Guitar</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-03.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">03</span>
								
								<h5 class="card_title mod_title">Bass Guitar</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
								<span class="card_status success tertiary"><i class="icon">check</i> Test Complete</span>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-04.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">04</span>
								
								<h5 class="card_title mod_title">Amplifiers</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-05.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">05</span>
								
								<h5 class="card_title mod_title">Acoustic Guitars</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-06.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">06</span>
								
								<h5 class="card_title mod_title">Limited Edition</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-07.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">07</span>
								
								<h5 class="card_title mod_title">New Products</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-08.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">08</span>
								
								<h5 class="card_title mod_title">Folk & Bluegrass</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item">
						<article class="card">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-09.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">09</span>
								
								<h5 class="card_title mod_title">Accessories</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->

								<div class="card_meta tertiary">
									<span class="card_lvl">Basic</span>
									<span class="card_time mod_time">45 Mins</span>
								</div><!-- /.card_meta -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<a class="btn card_btn" href="chapter.html">View 2 Lessons</a>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item grid_item-inactive">
						<article class="card card-inactive">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-10.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">10</span>
								
								<h5 class="card_title mod_title">Audio</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<span class="card_status tertiary">Coming Soon 2017</span>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item grid_item-inactive">
						<article class="card card-inactive">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-11.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">11</span>
								
								<h5 class="card_title mod_title">Custom Shop</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<span class="card_status tertiary">Coming Soon 2017</span>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
					<li class="grid_item grid_item-inactive">
						<article class="card card-inactive">
							<figure class="card_img">
								<img src="{{ assets }}/img/uploads/card-12.jpg" width="340" height="226" alt="Image description" />
							</figure><!-- /.card_img -->

							<div class="card_copy">
								<span class="card_count">12</span>
								
								<h5 class="card_title mod_title">Vintage</h5>

								<div class="card_body mod_body">
									<p>Learn about the early origins of Fender and how it has shaped our continued legacy today.</p>
								</div><!-- /.card_body -->
							</div><!-- /.card_copy -->

							<div class="card_lms">
								<span class="card_status tertiary">Coming Soon 2017</span>
							</div><!-- /.card_lms -->
						</article><!-- /.card -->
					</li>
				</ol><!-- /.grid -->

				<a class="btn btn-alt lms_more" href="learn.html">Load chapters that are coming soon</a>
			</div><!-- /.lms_wrapper -->
		</div><!-- /#learn -->
	</div><!-- /.page -->
{% endblock %}
