{% extends 'layouts/default' %}

{% set title = 'Bassbreaker' %}
{% set id = 'lesson' %}
{% set data_page = 'lesson' %}

{% block body %}
	<!-- LESSON BANNER VARIATION 1 -->
	<div class="banner banner-lesson bg lesson_section">
		<figure class="banner_bg bg_img">
			<img src="{{ assets }}/img/uploads/banner-04.jpg" alt="Image description" />
		</figure>

		<div class="banner_wrapper wrapper lesson_copy">
			<div class="banner_copy">
				<span class="banner_tag tertiary">Lesson Subtitle</span>
				<h1 class="banner_title">Bassbreaker™ Amplifier Series</h1>
				<p class="banner_body">In this lesson, you’ll dive deep into our latest exploration in sfeafd samplification—the Bassbreaker series. the Bassbreaker series.</p>

				<ul class="banner_stats stats_list">
					<li>Identify ideal customers</li>
					<li>Explain how Bassbreaker has evolved</li>
					<li>Demonstrate the compatibility of heads and cabinets</li>
					<li>Compare the features across individual models</li>
				</ul>

				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Lesson Quiz</a>
				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Chapter Quiz</a>

				<a class="banner_scroll tertiary" href="#lesson"><i class="banner_scroll_icn">d</i>Scroll to Start Lesson</a>
			</div><!-- /.banner_copy -->
		</div><!-- /.banner_wrapper -->
	</div><!-- /.banner -->

	<!-- LESSON BANNER VARIATION 2 -->
	<!-- <div class="banner banner-lesson banner-lesson-alt overlay bg lesson_section">
		<figure class="banner_bg bg_img">
			<img src="{{ assets }}/img/uploads/banner-05.jpg" alt="Image description" />
		</figure>

		<div class="banner_wrapper wrapper lesson_copy">
			<div class="banner_copy">
				<span class="banner_tag tertiary">How It All Began</span>
				<h1 class="banner_title">Fender Origins</h1>
				<p class="banner_body">Objective intro summary. Lorem ipsum dolor sit amet, consectetur  dolor esta mostre adipisicing elit, sed do eiusmod dolor sit amet.</p>

				<ul class="banner_stats stats_list">
					<li>Identify ideal customers</li>
					<li>Explain how Bassbreaker has evolved</li>
					<li>Demonstrate the compatibility of heads and cabinets</li>
					<li>Compare the features across individual models</li>
				</ul>

				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Lesson Quiz</a>
				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Chapter Quiz</a>

				<a class="banner_scroll tertiary" href="#lesson"><i class="banner_scroll_icn">d</i>Scroll to Start Lesson</a>
			</div>
		</div>
	</div> -->

	<!-- LESSON BANNER VARIATION 3 -->
	<!-- <div class="banner banner-lesson banner-lesson-alt2 bg lesson_section">
		<figure class="banner_bg bg_img">
			<img src="{{ assets }}/img/uploads/banner-06.jpg" alt="Image description" />
		</figure>

		<div class="banner_wrapper wrapper lesson_copy">
			<div class="banner_copy">
				<span class="banner_tag tertiary">Lesson Subtitle</span>
				<h1 class="banner_title">Title of Lesson</h1>
				<p class="banner_body">Objective intro summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>

				<ul class="banner_stats stats_list">
					<li>Identify ideal customers</li>
					<li>Explain how Bassbreaker has evolved</li>
					<li>Demonstrate the compatibility of heads and cabinets</li>
					<li>Compare the features across individual models</li>
				</ul>

				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Lesson Quiz</a>
				<a class="btn btn-alt js-modal-btn" href="quiz.html">Take Chapter Quiz</a>

				<a class="banner_scroll tertiary" href="#lesson"><i class="banner_scroll_icn">d</i>Scroll to Start Lesson</a>
			</div>
		</div>
	</div> -->

	<nav class="lesson_nav lesson_section">
		<div class="lesson_nav_head">
			<a class="pageLink pageLink-back tertiary" href="chapter.html">Back to Learn</a>
			<h6 class="lesson_nav_hdg h7">New Products</h6>
		</div><!-- /.lesson_nav_head -->

		<ul class="lesson_list">
			<li><a class="lesson_link" href="lesson.html">Acoustic Pro Amplifier</a></li>
			<li><a class="lesson_link" href="lesson.html">American Elite Electric Guitar</a></li>
			<li><a class="lesson_link current" href="lesson.html">Bassbreaker Amplifier</a></li>
			<li><a class="lesson_link" href="lesson.html">George Benson Signature Amplifier</a></li>
			<li><a class="lesson_link" href="lesson.html">Paramount Acoustic</a></li>
			<li><a class="lesson_link" href="lesson.html">The Edge Signature Amplifier</a></li>
			<li><a class="lesson_link" href="lesson.html">The Edge Stratocaster</a></li>
			<li><a class="lesson_link complete js-modal-btn" href="test.html">Chapter Test</a></li>
		</ul><!-- /.lesson_list -->
	</nav><!-- /.lesson_nav -->

	<div class="page">
		<section id="section-01" class="module module-basic module-left lesson_section bg">
			<figure class="module_bg bg_img">
				<img src="{{ assets }}/img/uploads/lesson-01.jpg" alt="Image description" />
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_date">1954 Date Style</span>
					<h2 class="module_hdg">Introduced in 1954</h2>

					<div class="module_body copy">
						<p>The Stratocaster was made famous in the hands of music royalty, from Eric Clapton to Jimi Hendrix and countless more. The Strat is more than an instrument—it’s an icon with a timeless shape and unforgettable sound.</p>
					</div><!-- /.section_body -->
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->

			<span class="module_caption">Buddy Guy</span>
		</section><!-- /.lesson_section -->

		<section id="section-02" class="module module-basic module-right lesson_section bg">
			<figure class="module_bg bg_img">
				<img src="{{ assets }}/img/uploads/lesson-02.jpg" alt="Image description" />
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_tag">Section Title Style</span>
					<h2 class="module_hdg">Knows no Musical Boundaries</h2>

					<div class="module_body copy">
						<p>Fender electric guitars have proven their immense worth over time across the musical spectrum, whether it be on a classic rock song, a blues song, a metal song, a punk song, an indie pop song, a country song, an R&B song, a funk song, a jazz song, an Americana song, a Latin song, and just about any other genre conceivable.</p>
					</div><!-- /.section_body -->

					<a class="btn btn-more" href="#section-02-more">Learn More</a>
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->

			<span class="module_caption">Mike Duce</span>
		</section><!-- /.lesson_section -->

		<section id="section-03" class="module module-basic module-center lesson_section bg">
			<figure class="module_bg bg_img">
				<img src="{{ assets }}/img/uploads/lesson-03.jpg" alt="Image description" />
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_tag">Section Title Here</span>
					<h2 class="module_hdg">Designed for the Spotlight</h2>

					<div class="module_body copy">
						<p>Some notable players include Jeff Beck, Eric Clapton, John Frusciante, Billy Corgan, Edge, Stevie Ray Vaughan, David Gilmour, Buddy Guy, Jimi Hendrix, John Mayer and Bruno Mars.</p>
					</div><!-- /.section_body -->

					<a class="vidLink js-modal-vid" href="video.html"><i class="vidLink_icn">v</i>Watch Video</a>
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->

			<span class="module_caption">Bruno Mars</span>
		</section><!-- /.lesson_section -->

		<section id="section-04" class="module module-half module-right lesson_section">
			<figure class="module_img bg_img">
				<img src="{{ assets }}/img/uploads/lesson-04.jpg" alt="Image description" />
				<span class="module_caption">Nile Rodgers</span>
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_tag">Section Title Here</span>
					<h2 class="module_hdg">Hear the Sound</h2>

					<div class="module_body copy">
						<p>General description about sound here on sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.enim ad minim veniam.</p>
					</div><!-- /.section_body -->

					<ul class="playlist">
						<li class="playlist_audio">
							<span class="playlist_title">Get Lucky</span>
							<span class="playlist_artist tertiary">Nile Rodgers & Daft Punk Ft. Pharrell Williams</span>

							<div class="audio">
								<audio id="test" class="audio_content">
									<source src="{{ assets }}/audio/audio-01.ogg" type="audio/ogg" />
									<source src="{{ assets }}/audio/audio-01.mp3" type="audio/mpeg" />
								</audio>
							</div><!-- /.audio -->

							<button class="playlist_btn audio_play"><span class="meta">Play/Pause</span></button>
						</li>
						<li class="playlist_audio">
							<span class="playlist_title">Many of Horror</span>
							<span class="playlist_artist tertiary">Biffy Clyro</span>

							<div class="audio">
								<audio id="test" class="audio_content">
									<source src="{{ assets }}/audio/audio-02.ogg" type="audio/ogg" />
									<source src="{{ assets }}/audio/audio-02.mp3" type="audio/mpeg" />
								</audio>
							</div><!-- /.audio -->

							<button class="playlist_btn audio_play"><span class="meta">Play/Pause</span></button>
						</li>
						<li class="playlist_audio">
							<span class="playlist_title">Damn Right I Got the Blues</span>
							<span class="playlist_artist tertiary">Buddy Guy</span>

							<div class="audio">
								<audio id="test" class="audio_content">
									<source src="{{ assets }}/audio/audio-03.ogg" type="audio/ogg" />
									<source src="{{ assets }}/audio/audio-03.mp3" type="audio/mpeg" />
								</audio>
							</div><!-- /.audio -->

							<button class="playlist_btn audio_play"><span class="meta">Play/Pause</span></button>
						</li>
					</ul><!-- /.playlist -->
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->
		</section><!-- /.lesson_section -->

		<section id="section-05" class="module module-half module-left lesson_section">
			<figure class="module_img bg_img">
				<img src="{{ assets }}/img/uploads/lesson-05.jpg" alt="Image description" />
				<span class="module_caption">Nile Rodgers</span>
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_tag">Section Title Here</span>
					<h2 class="module_hdg">Hear the Sound</h2>

					<div class="module_body copy">
						<p>General description about sound here on sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

						<ul>
							<li>Duis aute irure dolor in reprehenderit in voluptated</li>
							<li>Velit esse cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident</li>
							<li>Sunt in culpa qui officia deserunt mollit</li>
							<li>Sed ut perspiciatis unde omnis iste natus error sit </li>
						</ul>
					</div><!-- /.section_body -->

					<a class="downloadLink tertiary" href="#"><i class="downloadLink_icn goLink">f</i>Download Catalogue</a>
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->
		</section><!-- /.lesson_section -->

		<section id="section-06" class="module module-half module-right bg lesson_section">
			<figure class="module_img bg_img">
				<img src="{{ assets }}/img/uploads/lesson-06.jpg" alt="Image description" />
				<span class="module_caption">Nile Rodgers</span>
			</figure>

			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy bg_copy">
					<span class="module_tag">Section Title Here</span>
					<h2 class="module_hdg">Hear the Sound</h2>

					<div class="module_body copy">
						<p>General description about sound here on sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<p>Viluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					</div><!-- /.section_body -->

					<span class="module_cta_hdg">Discover Additional Info CTA</span>
					<a class="btn btn-more" href="#section-06-more">Learn More</a>
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->
		</section><!-- /.lesson_section -->

		<div id="section-07" class="module module-gallery module-gallery-three lesson_section">
			<div class="module_wrapper wrapper lesson_copy">
				<div class="module_copy">
					<figure class="module_img">
						<img src="{{ assets }}/img/uploads/lesson-gallery-01.jpg" width="433" height="643" alt="Image description" />
						<span class="module_caption">Yngwie Malmsteen</span>
					</figure>

					<figure class="module_img">
						<img src="{{ assets }}/img/uploads/lesson-gallery-02.jpg" width="433" height="643" alt="Image description" />
						<span class="module_caption">John Gomez</span>
					</figure>

					<figure class="module_img">
						<img src="{{ assets }}/img/uploads/lesson-gallery-03.jpg" width="433" height="643" alt="Image description" />
						<span class="module_caption">Eric Clapton</span>
					</figure>
				</div><!-- /.module_copy -->
			</div><!-- /.module_wrapper -->
		</div><!-- /.lesson_section -->
	</div><!-- /.page -->
{% endblock %}
